main { 
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 5px;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  main h1 {
    color: #0056b3;
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .photo{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  .profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  .photo .icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
    background-color: #f1eeee;

  }
  
  .photo .icon:hover {
    transform: scale(1.15) rotate(8deg);
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.3);
  }
  
  .change-photo {
    margin-top: 10px;
    padding: 12px 25px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;
  }
  
  .change-photo:hover {
    background-color: #003f88;
    transform: scale(1.1);
  }
  
  .profile-info {
    width: 100%;
  }
  
  .profile-info input,
  .profile-info select {
    width: 85%;
    padding: 12px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .profile-info input:focus,
  .profile-info select:focus {
    box-shadow: 0px 5px 10px rgba(0, 86, 179, 0.4);
    transform: translateY(-3px);
    outline: none;
  }
  
  .profile-info button.save-btn {
    padding: 12px 12px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    margin: 0 8px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }

  .match-history-btn {
    margin: 8px 0;
    padding: 12px 12px;
    background-color: #09b300;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
  }
  
  .profile-info button.save-btn:hover {
    background-color: #003f88;
    transform: translateY(-3px) scale(1.1);
    box-shadow: 0px 8px 16px rgba(0, 86, 179, 0.4);
  }
  
  .profile-info select {
    appearance: none;
    background: linear-gradient(to right, #e3f2fd, #bbdefb);
    cursor: pointer;
  }
  
  .profile-info select:hover {
    background: linear-gradient(to right, #bbdefb, #e3f2fd);
  }
  
  .profile-info .total {
    font-size: 20px;
    color: #444;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .profile-info .total:hover {
    color: #0056b3;
  }
  
.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.toggle {
  width: 60px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #ff4d4d; 
  transition: background-color 0.3s;
  position: relative;
}

.toggle.public {
  background-color: #4caf50; 
}

.toggle-circle {
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  transition: left 0.3s;
}

.toggle.public .toggle-circle {
  left: 32px;
}

.toggle-text-profile {
  margin-left: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #0056b3;
  transition: color 0.3s;
}

@media (max-width: 660px) {

  .match-history-btn {
    padding: 6px 6px;
    background-color: #09b300;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
  }
}


.photo-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  width: 175px;
}

.dropdown-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s;
}

.dropdown-icon:hover {
  transform: scale(1.2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
