.vs/
bin/
obj/
Volumes/


Client/webgamesplatformclient/node_modules
Client/webgamesplatformclient/obj
Server/SharedApiUtils/bin
Server/SharedApiUtils/obj

Server/Services/GamesService/bin
Server/Services/GamesService/obj
Server/Services/MatchHistoryService/bin
Server/Services/MatchHistoryService/obj
Server/Services/RatingService/bin
Server/Services/RatingService/obj
Server/Services/RoomsService/bin
Server/Services/RoomsService/obj
Server/Services/WebSocketService/bin
Server/Services/WebSocketService/obj

Server/Services/GameProcessing/TicTacToeGameProcessing/bin
Server/Services/GameProcessing/TicTacToeGameProcessing/WebSocketService/obj