@media only screen and (max-width: 639px) {
    .footer-content {
        flex-direction: column;
    }
    .ag-courses-item_title {
        font-size: 24px;
    }
}

.footer-content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .footer-socials {
    display: flex;
    gap: 1rem;
  }

  
.footer-content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-socials {
  display: flex;
  gap: 1rem;
}

.social-icon {
  font-size: 1.5rem;
  color: #fff;
  transition: color 0.3s;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;

}

.social-icon:hover {
  color: #a8f7fe;
  transform: rotate(15deg) scale(1.2);
}
